<style>
    .process-action-title {
        text-align: center;
        font-weight: bold;
    }
    .process-action-button {
        width: 200px;
        height: 50px;
        background: #e10000;
        color: white;
        margin: 7px;
    }
</style>

<h1 mat-dialog-title class="process-action-title">¿Que quieres hacer?</h1>
<!-- <mat-form-field >
    <mat-label class="negrita">Vencimiento</mat-label>
    <input matInput type="number" placeholder="Año" [(ngModel)]="ano" >
</mat-form-field> -->
<div fxLayout="row" fxLayout.xs="column" >
<!--     <button mat-raised-button *ngFor="let button of buttons; let i = index" [ngClass]="{'active':isClicked[i]}" (click)="filtrarProcesos(i)">
        <span >{{ button[0] }}</span>
    </button> -->
    <button mat-raised-button class="process-action-button" [mat-dialog-close]="option[1]" *ngFor="let option of data.options">
        <span >{{option[0]}}</span>
    </button>
<!--     <button mat-raised-button class="process-action-button" >
        <span >Modificacion </span>
    </button> -->
</div>


<!-- <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data"  cdkFocusInitial>Aceptar</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
</div> -->