<adf-toolbar [hidden]="this.router.url.search('home') == -1" >


    
</adf-toolbar>

<adf-toolbar  [hidden]="!mostrarDocumenList || (this.router.url.search('home') !== -1)">
    <adf-toolbar-title [hidden]="!mostrarDocumenList">
    <adf-breadcrumb
    #breadcrumb
    class="files-breadcrumb"
    [target]="documentList"
    [folderNode]="navigateBreadcrumb(documentList.folderNode)">
    </adf-breadcrumb>
    </adf-toolbar-title>

    <div class="adf-toolbar--spacer"></div>


    <button mat-raised-button  class="botonrojo-busqueda"  (click)="abrirFormularioSubida()" >
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">file_upload</mat-icon>
    <span>Subir Fichero</span>
    </button>

    <!-- <adf-upload-button
                staticTitle="Subir archivo" 
                (success)="uploadSuccess($event)" 
                [rootFolderId]="documentList.currentFolderId"
                (permissionEvent)="onUploadPermissionFailed($event)"
                color="primary"
                class="mat-icon material-icons upload-button"
                style="width: 140px;">
    </adf-upload-button > -->
    <!-- <button mat-raised-button (click)="openDialogExport()" class="botonrojo-busqueda">
    <mat-icon>archive</mat-icon>
    <span>Exportar</span>
    </button> -->

</adf-toolbar >

<div class="flexcontainer" [ngStyle]="(this.router.url.search('home') !== -1) ? {'background-image':'url(./assets/logo_aclarado.png)','height':'90%','background-repeat':'no-repeat', 'background-position': 'center'}  :{'background-image':'none'}" >

    <div class="filtros-avanzados" [hidden]="!mostrarFiltrosAvanzados">
        <adf-info-drawer-layout>
            <div info-drawer-title>Filtros Avanzados</div>
    
            <div info-drawer-content>
                <adf-search-filter #settings></adf-search-filter>
            </div>
            
      
        </adf-info-drawer-layout>

    </div>
  
  <div class="fileview">
      

<div class="filtros-tabla" [hidden]="!mostrarDocumenList || (this.router.url.search('home') !== -1)">
  <h4>Filtros Tabla</h4>
  <span> Nombre</span>
  <input  type="text" placeholder="Nombre de fichero" name="nombre Fichero" [(ngModel)]="nombreFicheroFiltro" (ngModelChange)="filtrar($event)">
  <span> Modificador</span>
  <input   type="text" placeholder="Nombre de usuario" name="modificado Por" [(ngModel)]="modificadoPorFiltro" (ngModelChange)="filtrar($event)" >

</div>

		<div *ngIf="nodeId1">
			<ng-template let-node="node" #sidebarTemplate>
				<adf-info-drawer [title]="'Metadatos'">
					<adf-info-drawer-tab [label]="'Propiedades'">
						<adf-content-metadata-card [node]="node"></adf-content-metadata-card>
					</adf-info-drawer-tab>
				</adf-info-drawer>
			</ng-template>
				<adf-viewer [overlayMode]="true" [nodeId]="nodeId1" [allowRightSidebar]="true"  [overlayMode]="true" [sidebarRightTemplate]="sidebarTemplate" (showViewerChange)="show()"  [(showViewer)]="showViewer"></adf-viewer>
        </div>

<adf-document-list 
  id="tablaprueba"
  #documentList
  (preview)="showPreview($event)"
  contentActions="true"
  contentActionsPosition="right"
  contextMenuActions="true"
  [rowFilter]="filtro" 
  [thumbnails]="true"
  [includeFields]="includeFields"
  emptyFolderImageUrl='./assets/images/alfresco-logo.svg'>
  <data-columns>
      <data-column
      key="$thumbnail"
      type="image"
      [sortable]="false"
      class="adf-image-table-cell">
      <ng-template let-context="$implicit">
          <div  class="img-wrp">
              <img src="{{ context.row.getValue('isLink') ? 'assets/images/link.svg' : context.row.getValue('content.mimeType') | adfMimeTypeIcon }}" class="imgResponsiveMax" />
              <img class="top-right-icon" id="{{ context.row.getValue('id') }}" [hidden]="true" src="assets/images/enlazados.svg"  />
            </div>
      </ng-template>
      
    </data-column>
    <data-column key="name" title="Nombre" type="text" class="name-column">

    </data-column>
    <data-column title="Tamaño" key="content.sizeInBytes" type="fileSize" class="adf-desktop-only"></data-column> 
<!--     <data-column key="properties.regu:fecha_vencimiento" type="date" format="shortDate" title="Vencimiento" class="adf-desktop-only">
    </data-column> -->

  <!--   <data-column title="Vencimiento" key="modifiedAt" type="date" format="shortDate" >
        <ng-template let-context="$implicit">
           <span> {{context.row.getValue('modifiedAt.') | date:'dd/MM/yyyy HH:mm'}}</span>
        </ng-template>
    </data-column> -->
    <data-column title="Última Modificación" key="modifiedAt" type="date" format="shortDate" class="adf-desktop-only">
        <ng-template let-context="$implicit">
           <span> {{context.row.getValue('modifiedAt') | date:'dd/MM/yyyy'}}</span>
        </ng-template>
    </data-column>
    <data-column key="modifiedByUser.displayName" type="text" title="Modificado por" class="adf-desktop-only"></data-column>
</data-columns>   

<content-actions>
    <content-action
        title="Descarga ZIP"
        [icon]="'file_download'"
        [target]="'folder'"
        (execute)="onDownloadAsZip($event)">
      </content-action>

    <content-action
        title="Visualizar"
        [icon]="'visibility'"
        [target]="'document'"
        (execute)="showPreview($event)">
    </content-action>
    <content-action
        title="Editar"
        [icon]="'edit'"
        [target]="'document'"
        (execute)="editar($event)">
    </content-action>
    <content-action
        title="Descargar"
        [icon]="'archive'"
        [target]="'document'"
        handler="download">
    </content-action>

    
    <content-action
        title="Metadatos"
        [icon]="'local_offer'"
        [target]="'document'"
        (execute)="showMetadatos($event)">
    </content-action>
    
    <content-action
    title="Etiquetas"
    [icon]="'label'"
    [target]="'document'"
    (execute)="openDialogTags($event)"
    [visible]="isActionVisible">

</content-action>

    <content-action
            icon="content_copy"
            target="document"
            title="Copiar"
            permission="update"
            [disableWithNoPermission]="true"
            (permissionEvent)="onPermissionsFailed($event)"
            (execute)="copiarNodo($event)">
        </content-action>

        <content-action
        title="Crear Enlace"
        [icon]="'link'"
        [target]="'document'"
        (execute)="crearEnlace($event)"
        [visible]="isActionVisible">
    </content-action>
        
        <content-action
            icon="redo"
            title="Mover"
            permission="update"
            [disableWithNoPermission]="true"
            (permissionEvent)="onPermissionsFailed($event)"
            (execute)="moverNodo($event)">
        </content-action>
      <content-action
        icon="delete"
        title="Eliminar"
        permission="delete"
        [disableWithNoPermission]="true"
        (permissionEvent)="onPermissionsFailed($event)"
        (execute)="openConfirmDeleteDialog($event)">
    </content-action>

</content-actions>

<adf-custom-empty-content-template >
    <adf-empty-content 
        icon="folder"
        title="La carpeta esta vacia o no tiene acceso a los archivos que contiene">
    </adf-empty-content>
</adf-custom-empty-content-template>
</adf-document-list>



<div class="paginacion" [hidden]="!mostrarDocumenList || (this.router.url.search('home') !== -1)">
  <adf-pagination
      [target]="documentList">
  </adf-pagination>
</div>
</div>




<div class="metadatos" [hidden]="!mostrarMetadatos">
  <adf-info-drawer-layout>
      <div info-drawer-title>Metadatos</div>

      <div info-drawer-buttons (click)="mostrarMetadatos = false" >
          <mat-icon>clear</mat-icon>
      </div>

      <div info-drawer-content>
          <adf-content-metadata-card [node]="nodeId" [displayEmpty]="true">
          </adf-content-metadata-card>
          <adf-file-uploading-dialog></adf-file-uploading-dialog>
      </div>
      

  </adf-info-drawer-layout>

  </div>
</div>

