<!-- <style>
    .task-buttons > button{
        color: #828285;
        background: white;
        border-radius: 2px;
        font-weight: bold;
        border: solid #828285 1px;
        margin-right: 1%;
    }

    .task-buttons {
        padding: 1%;
    }

    .task-title > h3{
        color: #e10000;
        margin-left: 2%;
        font-weight: bold;
    }
    .active {
        background: #e10000 !important;
        color: white !important;
    }
    @media (max-width: 768px){
            .task-buttons > button{
                margin-bottom: 2%;
            }
            .task-title {
                max-width: 100%;
                place-content: center center;
            }
            
        }

</style> -->
<div fxLayout="column" >
    <div fxLayout="row" fxLayout.xs="column" >
            <div  fxFlex="20%" fxFlex.xs="100%" fxLayoutAlign="start center" fxLayoutAlign.xs="center center" class="task-title">
                <h3>LISTADO DE TAREAS</h3>
            </div>
            <div fxFlex="80%" fxFlex.xs="100%" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutAlign.xs="center center" class="task-buttons">
                    <button mat-raised-button *ngFor="let button of buttons; let i = index" [ngClass]="{'active':isClicked[i]}" (click)="filtrarTareas(i)">
                            <span >{{ button[0] }}</span>
                    </button>
            </div>
    </div>
        

    <adf-toolbar>
       <!--  <adf-toolbar-title>
            <apw-breadcrumbs></apw-breadcrumbs>
        </adf-toolbar-title> -->
        <div class="adf-toolbar--spacer"></div>
        <apw-breadcrumb-actions fxHide.xs *ngIf="taskContent$ | async" [selectedAction]="getBreadcrumbActionName()" (infoClick)="toggleInfoDrawer()"></apw-breadcrumb-actions>
    </adf-toolbar>

    <div>

        <div fxFlex="0 1 100%">
            <div>
                <apw-tasklist-paginator *ngIf="taskFilter?.filter" [currentFilter]="taskFilter" (success)="onSuccessTaskList($event)" (rowClick)="onTaskRowClick($event)"
                    (rowDoubleClick)="onTaskRowDoubleCLick($event)" #tasklistPaginator>
                </apw-tasklist-paginator>
            </div>
        </div>
        <ng-container *ngIf="showSidebar" >
            <div class="dw-template__sidebar">
                <div id="dw-tasklist-sidebar-id" class="dw-template-fixed-content">
                    <apw-task-sidebar
                        [appId]="appId"
                        [taskDetails]="taskDetails"
                        [taskFormName]="taskFormName"
                        [readOnlyForm]="readOnlyForm"
                        (claim)="onClaim($event)"
                        (changeAssignee)="assignTaskToUser($event)"
                        (formEdit)="onFormEdit()"
                        (updated)="reloadTask()">
                            <div>
                                <mat-icon id="dw-tasklist-sidebar-open-new-id" data-automation-id="task-open-new" (click)="openTaskForm()">open_in_new</mat-icon>
                                <mat-icon id="dw-tasklist-sidebar-close-id" data-automation-id="task-close" (click)="closeTaskDetailsLayout()">close</mat-icon>
                            </div>
                    </apw-task-sidebar>
                </div>
            </div>
        </ng-container>
    </div>
</div>
